.skillsPage{
    
  position: relative;
  background: radial-gradient(circle, #333333 0%, #2e0854 100%);
  z-index: 3;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;

  display: flex;
    flex-direction: column;
    align-items: center; /* Bu, .allSkills kutusunu yatayda sayfaya ortalar */

}   


.idk{
width: 100%;
overflow: hidden;
margin-top: 8rem;
padding: 0 5rem;
}

.box{
    background-color: aliceblue;
    width: 7rem;
    height: 7rem;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    box-shadow: 
    0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 8px 8px rgba(0,0,0,0.11), 
    0 16px 16px rgba(0,0,0,0.11), 
    0 32px 32px rgba(0,0,0,0.11);
}

.box img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.slider1{
    display: flex;
    width: max-content;
    animation: slide 30s linear infinite;

}

.slider1:hover{
    animation-play-state:paused;
}
@keyframes slide {
    0% { transform: translate(0); }
    100% { transform: translate(-50%) } 
}

.skillTitle{
    color: aliceblue;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2.5rem;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.skillname {
    color: aliceblue;
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
    

    display: inline-block;
    width: 150px; 
    text-align: left;
}

.allSkills {
    display: flex;         /* Grid yerine Flex */
    flex-wrap: wrap;       /* Sığmayan alta geçsin */
    justify-content: center; /* Bloğu ortalar */
    gap: 3rem;             /* Kutular arası boşluk */
    width: 90%;
    max-width: 1200px;     /* Çok yayılmasını engelle */
    margin: 3rem auto 0 auto;
}


.skill-item {
    display: flex;
    align-items: center;
    width: 300px; 
}
.bars{
    position: relative;
    width: 10rem;
    height: 0.7rem;
    border-radius:5px;
}

.barWhite{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: aliceblue;
    top: 0;
    left: 0;
}

.barMastery{
    top: 0;
    left: 0;
    background-color: aliceblue;
    height: 100%;
    position: absolute;
}
.efect{
    top: 0;
    left: 0;
    background-color: gold;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    animation:none;
}

.efect.animate {
    animation: 2s barAnimation forwards;
}


@keyframes barAnimation {

    from{
        left : -100%;
    }to{
        left : 0;
    }
    
}
@media screen and (max-width: 750px) {

.allSkills{
    grid-template-columns: 1fr 1fr;
}
.skillsPage{
      padding-bottom: 4rem;
}


}

@media screen and (max-width: 450px) {

.bars{
    position: relative;
    width: 7rem;
    height: 0.7rem;
    border-radius:5px;
}


}