.skillsPage{
    
  position: relative;
  background: radial-gradient(circle, #333333 0%, #2e0854 100%);
  z-index: 3;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  padding: 1rem;
}

.idk{
width: 100%;
overflow: hidden;
margin-top: 8rem;
padding: 0 5rem;
}

.box{
    background-color: aliceblue;
    width: 7rem;
    height: 7rem;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    box-shadow: 
    0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.11), 
    0 4px 4px rgba(0,0,0,0.11), 
    0 8px 8px rgba(0,0,0,0.11), 
    0 16px 16px rgba(0,0,0,0.11), 
    0 32px 32px rgba(0,0,0,0.11);
}

.box img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.slider1{
    display: flex;
    width: max-content;
    animation: slide 30s linear infinite;

}

.slider1:hover{
    animation-play-state:paused;
}
@keyframes slide {
    0% { transform: translate(0); }
    100% { transform: translate(-50%) } 
}

.skillTitle{
    color: aliceblue;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2.5rem;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.allSkills{
    display: grid;
    margin-top: 3rem;
    grid-template-columns:1fr 1fr 1fr;
    justify-content: center;
    justify-items:center;
    gap: 10px;
}

.skillname{
    color: aliceblue;
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-family: "Datatype", monospace;


}
.bars{
    position: relative;
    width: 10rem;
    height: 0.7rem;
    border-radius:5px;
}

.barWhite{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: aliceblue;
    top: 0;
    left: 0;
}

.barMastery{
    top: 0;
    left: 0;
    background-color: gold;
    height: 100%;
    position: absolute;
}


@media screen and (max-width: 750px) {

.allSkills{
    grid-template-columns: 1fr 1fr;
}


}

@media screen and (max-width: 450px) {

.bars{
    position: relative;
    width: 7rem;
    height: 0.7rem;
    border-radius:5px;
}


}